<% provide(:title, "Source of Tweet") %>
<h1>Fuente</h1>
<h2>Plataforma donde fue originado el tweet</h2>
<table class="table">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Fuente</th>
      <th>Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <% counter = 0 %>
   <% @tweets.each do |tweet| %>
      <tr>
        <td><%= counter += 1 %></td>
        <td><%= sanitize tweet['key'], tags: %w(a), attributes: %w(href) %></td>
        <td><%= tweet['value'] %></td>
      </tr>
<% end %>

</tbody>
</table>

<%= content_tag :div, nil, id:'piechart', data: {data: @tweets} %>

<%= javascript_include_tag "piechart.js" %>
